/* --  Nav Bar -- */
/* - font-family: 'Josefin Sans', sans-serif; - */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* --- General --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: white;
}

body {
    background-color: black;
}

section {
    min-height: 100vh;
    padding-top: 70px;

}
section h1 {
    text-align: center;
    font-size: 1.8rem;
}

html {
    scroll-behavior: smooth;
}

a {
    color: white !important;
}

/* --- NavBar --- */
nav {
    position: fixed !important;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 100;
}

nav button {
    background-color: rgba(255, 255, 255, 0.2) !important;
}


/* --- Profile Picture --- */

#home {
    width: 100%;
    min-height: 250px;
    padding-top: 0;
    position: relative;
    z-index: 1;
    background-color: rgb(174, 207, 218, 0.1);
    background-color: black;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.5);
}

#background-images {
    display: flex;
    filter: blur(3px);
}

#background-images img {
    width: 50%;
    opacity: 0.6;
    min-height: 250px;
}

.mug-shot {
    position: absolute;
    width: 35%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 50%;
    min-width: 150px;
}

.description-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
}

.description-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 100%;
    border-radius: 40%;
}

#artist {
    left: 0;
}

#coder {
    right: 0;
}

.description-column h1 {
    font-size: 1.8rem;
}

.description-column p {
    font-size: 1.2rem;
}

.active {
    font-weight: 700;
}


/* --- About Page --- */

.about {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1rem;
    align-items: center;
}

.about-column img {
    width: 100%;
}

/* --- Work Page --- */

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
}

.grid-item {
    text-align: center;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(66, 66, 66, 0.4);
    transition: all 150ms linear;
}

.grid-item:hover {
    border-radius: 2px;
    transform: scale(1.05);
    box-shadow: 0 0 10px 2px rgba(66, 66, 66, 0.4);
}

.grid-item img {
    width: 100%;
}

.grid-item a {
    text-decoration: none;
}


/* Modal */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    background-color: rgba(0, 0, 0, 0.99);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;

    display: none;
}
.myModal  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.modal-img {
    width: 70%;
    margin-bottom: 0.5rem;
}
.modal-title {
 color: white;
}
.closeModal {
    position: fixed;
    z-index: 200;
    top: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    color: white;
    background-color: gray;
}
#arrow-left {
    position: absolute;
    width: 35px;
    height: 35px;
    color: white;
    background-color: gray;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}
#arrow-right {
    position: absolute;
    width: 35px;
    height: 35px;
    color: white;
    background-color: gray;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

/* --- Contact Page --- */

.contact-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    padding-bottom: 10px;
}


input,
textarea {
    width: 100%;
    padding: 5px 10px;
    margin: 10px 0;
    background-color: rgb(10, 10, 10);
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255, 0.8);

    box-shadow: inset -5px -5px 10px rgb(255, 255, 255, 0.4),
                inset 5px 5px 15px rgb(0, 0, 0),
                -5px -5px  5px rgba(128, 128, 128, 0.8);
    transition: all 150ms linear;
}

form button {
    width: 50%;
    padding: 10px 10px;
    /* margin: 10px 0; */
    background-color: rgb(55, 55, 55);
    border-radius: 20px;

    box-shadow: inset 3px 3px 5px rgb(255, 255, 255, 0.8),
                inset -3px -3px 10px rgb(0, 0, 0);
                
}


/* - Map - */

#map-column {

    align-items: center;
    border-radius: 10px;
    box-shadow: inset -5px -5px 10px rgb(255, 255, 255, 0.4),
                inset 5px 5px 15px rgb(0, 0, 0),
                -5px -5px  5px rgba(128, 128, 128, 0.8);
}

#googleMap {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}